<template>
  <div class="todo-list">
    <!-- Start: Create Task -->
    <div class="item newTask">
        <h3>New Task</h3>
        <input type="text" v-model="title" placeholder="Add new task...">
        <div class="group">
          <label>Description</label>
          <textarea v-model="description"></textarea>
        </div>
        <div class="block">
          <div class="group">
            <label>Due Date</label>
            <input v-model="date" type="date" :min="date">
          </div>
          <div class="group">
            <label>Piority</label>
            <select v-model="piority" class="js-selectbox form-control">
              <option value="low">Low</option>
              <option value="normal">Normal</option>
              <option value="high">High</option>
            </select>
          </div>        
        </div>
        <button class="btn btn-add" :disabled="!title" @click="addItem()">ADD</button>
    </div>
    <!-- End: Create Task -->

    <!-- Start: List Task -->
    <div class="item listTasK">
      <h3>To Do List</h3>
      <input type="text" v-model="search" placeholder="Search...">
      <ul class="list" v-if="getlist && getlist.length > 0">
        <li class="itemTask" v-for="(item, index) in getlist" :key="index">
          <!-- Start Task Header -->
          <div class="task-header">
            <input v-model="listChecked" :value="index" class="checked" type="checkbox">
            <p class="title">{{item.title}}</p>
            <button @click="detailItem(index)" class="detail">Detail</button>
            <button @click="removeItem(index)" class="remove">Remove</button>
          </div>
          <!-- End Task Header -->

          <!-- Start Task Body -->
          <div class="task-body" :class="{ 'active': activeItem === index }">
            <input type="text" v-model="updateItem.title" placeholder="Add new task...">
            <div class="group">
              <label>Description</label> 
              <textarea v-model="updateItem.description"></textarea>
            </div>
            <div class="block">
              <div class="group">
                <label>Due Date</label>
                <input v-model="updateItem.date" type="date" :min="date">
              </div>
              <div class="group">
                <label>Piority</label>
                <select v-model="updateItem.piority">
                  <option value="low">Low</option>
                  <option value="normal">Normal</option>
                  <option value="high">High</option>
                </select>
              </div>        
            </div>
            <button class="btn btn-add" @click="update(item)" :disabled="!updateItem.title">Update</button>
          </div>
          <!-- End Task Body -->
        </li>
        <li v-if="listChecked && listChecked.length" class="footer">
          <label>Bulk action:</label>
          <button @click="done()" class="done btn">Done</button>
          <button @click="removeAll()" class="remove btn">Remove</button>
        </li>
      </ul>
      <div v-else>No Data</div>
    </div>
    <!-- End: List Task -->
  </div>
</template>

<script>
// import axios from 'axios';
export default {
  name: 'Home',
  data () {
    return{
      title: '',
      description: '',
      date: new Date().toISOString().substr(0, 10),
      piority: 'normal',
      todoList: [],
      activeItem: null,
      updateItem: '',
      search: '',
      checked: false,
      listChecked: [],
    }
  },
  watch: {
    todoList: {
      handler(updatedList) {
        localStorage.setItem('list', JSON.stringify(updatedList));
      },
      deep: true
    }
  },
  computed: {
    // Get list Task
    getlist() {
      var list = this.todoList.filter((rs) => {
        return rs.title.toLowerCase().includes(this.search.toLowerCase());
      })
      list.sort((a, b) =>{
        let sortItem = Date.parse(b.date) - Date.parse(a.date)
        return sortItem
      })
      return list
    }
  },
  created () {
  },
  mounted() {
    this.getTodos();
  },
  methods: {
    // Save localStorage
    getTodos() {
      if (localStorage.getItem('list')) {
        this.todoList = JSON.parse(localStorage.getItem('list'))
      }
    },
    // Add New Task
    addItem(){
      if (this.title.trim()) {
        this.todoList.push({
          title: this.title,
          description: this.description,
          date: this.date,
          piority: this.piority
        })
      }
    },
    // Task Detai
    detailItem(index) {
      this.getlist
      if(this.activeItem === index){
        this.activeItem = null
      }else{
        this.activeItem = index
        this.updateItem = JSON.parse(JSON.stringify(this.getlist[index]))
      }
    },
    // Remove Item
    removeItem(index) {
      this.todoList.splice(index,1)
    },
    // Cancel Remove List
    done() {
      this.listChecked = []
    },
    // Remove List
    removeAll() {
      this.listChecked.forEach(index =>{
        this.todoList.splice(index,1)
      })
      this.listChecked = []
    },
    // Update Task
    update(item) {
      if (this.updateItem.title.trim()) {
        item.title = this.updateItem.title
        item.description = this.updateItem.description
        item.date = this.updateItem.date
        item.piority = this.updateItem.piority
        this.activeItem = null
      }
    }
  }
}
</script>
