body{
  max-width: 1200px;
  margin: 30px auto;
  color: #fff;
  .todo-list{
    min-height: 90vh;
    display: flex;
    border: 10px solid #eee;
    background-color: #FF6666;
    box-shadow: 0 0 5px ;
    .item{
      padding: 20px;
      flex: 1;
      .group{
        display: block;
        margin-top: 10px;
      }
      .btn-add{
        background-color: #5CB85C;
        border: none;
        color: #fff;
        margin-top: 15px;

      }
    }
    .listTasK{
      position: relative;
    }
    .list{
      list-style-type: none;
      padding: 0;
      .task-header{
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        padding: 10px;
        margin-top: 15px;
        .title{
          flex: 1;
        }
        input{
          width: 20px;
        }
      }
      .task-body{
        display: none;
        border: 1px solid #fff;
        padding: 20px;
      }
      .task-body.active{
        display: block;
      }
      button{
        width: 70px;
        margin-left: 10px;
        height: 30px;
      }
    }
    
  }
}
::placeholder {
  color: #fff;
}
input, textarea, select, .btn{
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #FF6666;
  border-bottom: 1px solid #fff;
  color: #fff;
  
}
textarea:focus, input:focus{
  outline: none;
}
button{
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none
}
.remove{
  background-color: #ff0000;
}
.detail, .done{
  background: #5CB85C;
}
textarea{
  min-height: 100px;
}
.footer{
  display: flex;
  border:1px solid #fff;
  padding: 20px;
  margin-top: 20px;
  label{
    flex: 1
  }
}
@media screen and (max-width: 768px) {
  .todo-list{
    display: unset;
  }
}