body {
  max-width: 1200px;
  margin: 30px auto;
  color: #fff;
}

body .todo-list {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 10px solid #eee;
  background-color: #FF6666;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

body .todo-list .item {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .todo-list .item .group {
  display: block;
  margin-top: 10px;
}

body .todo-list .item .btn-add {
  background-color: #5CB85C;
  border: none;
  color: #fff;
  margin-top: 15px;
}

body .todo-list .listTasK {
  position: relative;
}

body .todo-list .list {
  list-style-type: none;
  padding: 0;
}

body .todo-list .list .task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 15px;
}

body .todo-list .list .task-header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .todo-list .list .task-header input {
  width: 20px;
}

body .todo-list .list .task-body {
  display: none;
  border: 1px solid #fff;
  padding: 20px;
}

body .todo-list .list .task-body.active {
  display: block;
}

body .todo-list .list button {
  width: 70px;
  margin-left: 10px;
  height: 30px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

input, textarea, select, .btn {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #FF6666;
  border-bottom: 1px solid #fff;
  color: #fff;
}

textarea:focus, input:focus {
  outline: none;
}

button {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
}

.remove {
  background-color: #ff0000;
}

.detail, .done {
  background: #5CB85C;
}

textarea {
  min-height: 100px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 20px;
}

.footer label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  .todo-list {
    display: unset;
  }
}
/*# sourceMappingURL=style.css.map */